.post-content {
	display: flex;
	gap: 12px;
}

.post-content__username {
	font-weight: bold;
	font-size: 14px;
	color: #000;
}

.post-content__date {
	font-size: 14px;
	color: #888888;
}

.post-content__text {
	font-size: 14px;
	color: #000;
}
